<h1>Portfolio!</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say Something:</label></br>
  <input type="text" data-behavior="room_speaker">
</form>


<%= button_to "mess_2", action: "message", remote: true, value:'2'  %>
<%= button_to "mess_3", action: "message", remote: true, value:'3'  %>