---
http_interactions:
- request:
    method: get
    uri: http://chartapi.finance.yahoo.com/instrument/1.0/goog/chartdata;type=quote;range=1d/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 05 Aug 2016 20:00:00 GMT
      Content-Type:
      - text/javascript; charset=utf-8
      Y-Trace:
      - BAEAQAAAAAAIc4RdUxuPBwAAAAAAAAAAsz_hDJY792EAAAAAAAAAAAAFOYEmADYEAAU5gSYA7T2VXZmAAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: "finance_charts_json_callback( { \"meta\" :\n {\n  \"uri\" :\"/instrument/1.0/goog/chartdata;type=quote;range=1d/json\",\n
        \ \"ticker\" : \"goog\",\n  \"Company-Name\" : \"Alphabet Inc.\",\n  \"Exchange-Name\"
        : \"NMS\",\n  \"unit\" : \"MIN\",\n  \"timezone\" : \"EDT\",\n  \"currency\"
        : \"USD\",\n  \"gmtoffset\" : -14400,\n  \"previous_close\" : 771.6100\n }\n
        ,\n \"Timestamp\" : {\"min\" :1470403800,\"max\" :1470427200 }\n ,\n \"labels\"
        : [1470405600,1470409200,1470412800,1470416400,1470420000,1470423600,1470427200
        ]\n ,\n \"ranges\" : {\"close\" : {\"min\" :773.0700,\"max\" :783.0000 },\"high\"
        : {\"min\" :773.2200,\"max\" :783.0400 },\"low\" : {\"min\" :772.7700,\"max\"
        :782.9950 },\"open\" : {\"min\" :772.9600,\"max\" :783.0000 },\"volume\" :
        {\"min\" :0,\"max\" :279100 } }\n ,\n \"series\" : [\n { \"Timestamp\" :1470403840,\"close\"
        :773.2900,\"high\" :773.2900,\"low\" :772.8550,\"open\" :772.9600,\"volume\"
        :56800 } \n, { \"Timestamp\" :1470403863,\"close\" :773.0700,\"high\" :773.2200,\"low\"
        :773.0700,\"open\" :773.2200,\"volume\" :5600 } \n, { \"Timestamp\" :1470403923,\"close\"
        :773.4900,\"high\" :773.5500,\"low\" :773.0200,\"open\" :773.4700,\"volume\"
        :3100 } \n, { \"Timestamp\" :1470403981,\"close\" :774.2000,\"high\" :774.2000,\"low\[...]
[...]
- request:
    method: get
    uri: http://chartapi.finance.yahoo.com/instrument/1.0/GOOG/chartdata;type=quote;range=1d/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 05 Aug 2016 20:00:00 GMT
      Content-Type:
      - text/javascript; charset=utf-8
      Y-Trace:
      - BAEAQAAAAAD8K0ecXc5ukAAAAAAAAAAAAILeAP0cSDkAAAAAAAAAAAAFOYHpu83nAAU5gem8oJTdBi10AAAAAA--
    body:[...]
[...]
