<%= form_for(cash_holding) do |f| %>
  <% if cash_holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_holding.errors.count, "error") %> prohibited this cash_holding from being saved:</h2>

      <ul>
      <% cash_holding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
